<mat-card *ngIf="user"
          class="container">
  <mat-card-header>
    <div mat-card-avatar
         class="example-header-image"
         [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')'}"></div>
    <mat-card-title>{{user.email}}</mat-card-title>
    <mat-card-subtitle>Role: {{user?.roles?.admin ? 'admin, ': ''}} {{user?.roles?.editor ? 'editor, ': ''}} {{user?.roles?.subscriber ? 'subscriber': ''}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      User since: {{user.dataCreated | date: 'short'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            (click)="onLogout()">Logout</button>
  </mat-card-actions>
</mat-card>
