@import './variables';
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: $font-default;
}
#tf {
    .container {
        width: 100%;
        max-width: $xl;
        margin-left: auto;
        margin-right: auto;
        padding: $spacer * 2;
        @include transition(padding);
    }
    .items-container {
        display: grid;
        grid-gap: $spacer;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
#tf {
    .mat-toolbar-single-row {
        padding-left: 0;
        padding-right: 0;
    }
    .mat-card {
        .mat-card-header-text {
            z-index: 2;
            margin: 0;
            width: 100%;
        }
        .mat-card-actions {
            margin: 0;
        }
    }
}

@include mq($lg) {
    #tf {
        .container {
            padding: $spacer;
        }
    }
}

@include mq($sm) {
    #tf {
        .container {
            padding: $spacer;
        }
        .items-container {
            grid-template-columns: 1fr;
        }
    }
}
