<mat-dialog-content>
        <ng-template *ngIf="passedData.progress >50">
                <p>You already got {{passedData.progress}}%</p>
                <p>Push...!</p>
        </ng-template>
        <ng-template *ngIf="passedData.progress <=50">
                <p>Dont give up now!</p>
                <p>You can do it!</p>
        </ng-template>
</mat-dialog-content>
<h2 mat-dialog-title>What are you going to choose?</h2>
<mat-dialog-actions>
        <button mat-raised-button
                title="You are choosing to continue width the training"
                [mat-dialog-close]="false">No</button>
        <button mat-raised-button
                title="You are choosing to terminate the training"
                [mat-dialog-close]="true">Yes</button>
</mat-dialog-actions>
