@import 'core/variables';
@import 'core/mixins';

.card {
    margin: $spacer;
    background-image: url('/assets/images/fitness.jpg');
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.9)
        ),
        url('/assets/images/fitness.jpg');
    color: $secondary-text;
    border-radius: 0;
    background-size: cover;
    .card-header {
        margin-bottom: $spacer * 2;
    }

    .card-header .header-title {
        color: $secondary-text;
        text-align: center;
    }
    .card-content {
        display: flex;
        justify-content: center;
    }
    .card-actions {
        display: flex;
        justify-content: center;
    }
}
@include mq($lg) {
    .card {
        max-width: 100%;
    }
}
