<mat-nav-list class="side-nav-list">
  <div class="container">
    <button mat-icon-button
            class="side-nav-toggle-button"
            aria-label="Toggle sidenavigation button"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"
       class="logo">

      <img src="./assets/images/logo.svg"
           alt="logo image">
    </a>
  </div>
  <a mat-list-item
     routerLink=""
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">home</mat-icon>
    Home
  </a>
  <a mat-list-item
     routerLink="/training"
     routerLinkActive="active"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">fitness_center</mat-icon>
    Training
  </a>
  <a mat-list-item
     routerLink="/login"
     routerLinkActive="active"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">input</mat-icon>
    Login

  </a>
  <a mat-list-item
     routerLink="/signup"
     routerLinkActive="active"
     class="side-nav-list-item">

    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">person_add_alt_1</mat-icon>
    Signup
  </a>
  <a mat-list-item
     routerLink="/signup"
     routerLinkActive="active"
     class="side-nav-list-item">
    <mat-icon aria-hidden="false"
              aria-label="App logo icon"
              class="item-icon">eject</mat-icon>
    Logout

  </a>

</mat-nav-list>
