@import 'core/variables';
@import 'core/mixins';

.container {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.side-nav-toggle-button {
    display: none;
}
a {
    list-style: none;
    text-decoration: none;
    text-transform: none;
    color: $primary-text;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    img {
        width: 120px;
    }
}
.nav {
    display: flex;
    justify-content: center;
    margin-left: auto;
    height: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 0;
        background-color: $primary-text;
        @include transition(width, 0.01s);
    }
    &:before {
        top: 0;
        right: 50%;
    }
    &:after {
        top: 0;
        left: 50%;
    }
    &:focus {
        &:before,
        &:after {
            width: 50%;
            @include transition(width);
        }
    }
    &.active {
        &:before,
        &:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 50%;
            background-color: $primary-text;
            @include transition(width, 0.01s);
        }
    }
}
@include mq($lg) {
    .side-nav-toggle-button {
        display: block;
    }
    .nav {
        display: none;
    }
}

@include mq($sm) {
    .logo {
        img {
            width: 100px;
        }
    }
}
