<mat-toolbar color="primary">
  <div class="container">
    <button mat-icon-button
            class="side-nav-toggle-button"
            aria-label="Toggle sidenavigation button"
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/"
       class="logo">

      <img src="./assets/images/logo.svg"
           alt="logo image">
    </a>
    <div class="nav">
      <a routerLink="/training"
         routerLinkActive="active"
         class="nav-link">
        Training
      </a>
      <a id="logout"
         class="nav-link logout"
         (click)="onLogout()"
         *ngIf="isAuth">
        Logout
      </a>
      <a id="login"
      class="nav-link"
         routerLink="/login"
         routerLinkActive="active"
         *ngIf="!isAuth">
        Login
      </a>
      <a routerLink="/signup"
         routerLinkActive="active"
         class="nav-link"
         *ngIf="!isAuth">
        Signup
      </a>
    </div>
  </div>

</mat-toolbar>
