<mat-sidenav-container [hasBackdrop]="'true'"
                       class="side-nav-container">
  <mat-sidenav #drawer
               [mode]="'over'"
               [autoFocus]="'false'"
               role="navigation"
               class="side-nav">
    <app-side-nav-list [drawer]="drawer"></app-side-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    <app-header [drawer]="drawer"></app-header>
    <div class="backdrop"></div>
    <main class="container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
