<div class="items-container">
  <section class="item">
    <h2 class="item-title">ACTIVITY</h2>
    <p class="item-content">Stay active and enjoy better health and have more fun!</p>
  </section>
  <section class="item">
    <h2 class="item-title"> COMMUNITY</h2>
    <p class="item-content">Get to know more people who share your passion!</p>
  </section>
  <section class="item">
    <h2 class="item-title">CHALLENGES</h2>
    <p class="item-content">Never stop! Dive into new challenges ever day</p>
  </section>
</div>
